<div class="box">
    <div class="box-title">{{i18n.chooseStore}}</div>
    <div class="alert alert-warning hidden" data-validate="generic" data-id="warning" data-bind></div>
	{{#if hasStores}}
        <form data-submit="startSession">
            <div class="form-group">
                <label for="store">{{i18n.store}}</label>
                <input type="hidden" id="store" name="store" class="form-control" data-id="storeSelect"
                       data-placeholder="{{i18n.selectStore}}" data-bind/>
            </div>
            <div class="form-group hidden" data-id="posGroup">
                <label for="pos">{{i18n.cashBox}}</label>
                <input type="hidden" id="pos" name="pos" class="form-control" data-id="posSelect"
					   data-placeholder="{{i18n.selectPos}}" data-bind/>
            </div>
            <div class="form-group submit-group">
                <button type="submit" class="btn btn-primary btn-lg" title="{{i18n.startCashierSession}}"
						data-id="startSessionButton" data-focus disabled>{{i18n.startCashierSession}}</button>
            </div>
        </form>
	{{else}}
        <p>{{i18n.youHaveNoStores}}</p>

        <div class="submit-group">
            <a href="/stores/create" type="button" class="btn btn-default btn-lg">{{i18n.createStore}}</a>
        </div>
	{{/if}}
</div>
