<div class="box">
    <div class="box-title">{{i18n.welcome}}!</div>
    <div class="alert alert-warning" data-validate="generic" data-bind data-hide></div>
    <form data-submit="login">
        {{! Login }}
        <div class="form-group input-group-lg">
            <label for="email">{{i18n.login}}</label>
            <input type="email" id="login" name="login" class="form-control" placeholder="{{i18n.enterYourEmail}}"
                   title="{{i18n.emailAddress}}" data-bind data-focus/>

            <div class="help-block" data-validate="login" data-bind></div>
        </div>

        {{! Password }}
        <div class="form-group input-group-lg">
            <label for="email">{{i18n.password}}</label>
            <input type="password" id="password" name="password" class="form-control"
                   placeholder="{{i18n.password}}" title="{{i18n.password}}" data-bind/>

            <div class="help-block" data-validate="password" data-bind></div>
        </div>

        {{! Submit }}
        <div class="form-group submit-group">
            <button type="submit" class="btn btn-primary btn-lg" data-auto-disable>{{i18n.enter}}</button>
        </div>
    </form>
</div>
<div class="footer">
    <a href="/forgot">{{i18n.forgotPassword}}?</a>
    <div class="footer-box">
        <p class="text-center">{{i18n.cookiesCompliance}}</p>
    </div>
</div>
