<div class="btn-group pull-right">
    <button class="btn {{buttonClassName}}" data-action="onButtonClick" data-id="button">
        <span class="fa {{buttonIcon}}"></span>
    </button>
    <button class="btn {{buttonClassName}} dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
		{{#each actions}}
            <li>
                <a href="#" data-action="onItemClick" data-action-id="{{methodName}}">{{label}}</a>
            </li>
		{{/each}}
    </ul>
</div>
