<h4>
    <a href="company/{{id}}" data-click="makeDefault">
        <span class="fa fa-star-o"></span>
    </a>
    <a href="company/{{id}}" class="title" title="{{i18n.goToCompany}}">{{name}}</a>
    {{#if isOwner}}
        <a href="/company/{{id}}/edit" class="edit pull-right" title="{{i18n.editCompany}}" data-catch-url>
            <span class="fa fa-pencil"></span>
        </a>
    {{/if}}
</h4>
<div class="description">
    {{#if description}}
        {{description}}
    {{else}}
        {{i18n.withoutDescription}}
    {{/if}}
</div>
<ul class="info">
    <li>
        <span class="color-label">{{i18n.currency}}</span>: <strong>{{currencyCode}}</strong>
    </li>
    {{#unless isOwner}}
        <li>
            <span class="color-label">{{i18n.owner}}</span>: <strong>{{owner.firstName}} {{owner.lastName}}</strong>
        </li>
    {{/unless}}
</ul>
