<h4>
    <a href="/" data-click="makeDefault">
        <span class="fa fa-star-o"></span>
    </a>
    <a href="" data-click="openCompany" class="title" title="{{i18n.goToCompany}}">{{name}}</a>
    {{#if isEditable}}
        <a href="/company/{{id}}/edit" class="edit pull-right" title="{{i18n.editCompany}}" data-catch-url>
            <span class="fa fa-pencil"></span>
        </a>
    {{/if}}
</h4>
<div class="description">
    {{#if description}}
        {{description}}
    {{else}}
        {{i18n.withoutDescription}}
    {{/if}}
</div>
<ul class="info">
    <li>
        <span class="color-label">{{i18n.currency}}</span>: <strong>{{currencyCode}}</strong>
    </li>
    {{#if employees.length}}
        <li>
            <span class="color-label">{{i18n.employeeCount}}</span>: <strong>{{employees.length}}</strong>
        </li>
    {{/if}}
</ul>
