<div class="page-title">
    <div class="title">
        <div>
			{{#if isNew}}
				{{i18n.priceListTemplateCreation}}
			{{else}}
				{{i18n.priceListTemplateEditing}}
			{{/if}}
        </div>
        <a href="/templates" class="link-back">{{i18n.priceListTemplates}}</a>
    </div>
</div>
<form data-submit="submit">
    <div class="page-section">
        <div class="col col-half">
            <div class="form-group">
                <label for="name" class="required">{{i18n.name}}</label>

                <div class="group">
                    <input type="text" id="name" name="name" class="form-control" data-bind data-focus/>

                    <div class="help-block" data-validate="name" data-bind></div>
                </div>
            </div>
            <div class="form-group">
                <label for="currency" class="required">{{i18n.currency}}</label>

                <div class="group">
                    <input type="hidden" id="currency" name="currency" class="form-control half"
                           data-id="currencySelect"
                           data-placeholder="{{i18n.selectCurrency}}" data-bind/>

                    <div class="help-block" data-validate="currency" data-bind></div>
                </div>
            </div>
            <div class="form-group no-bottom border">
                <label for="description">{{i18n.description}}</label>

                <div class="group">
                    <textarea id="description" name="description" rows="5" class="form-control"
                              data-optional="{{i18n.add}}"
                              data-bind></textarea>
                </div>
            </div>
        </div>
		<div class="col col-half">
		</div>
    </div>
    <div class="page-section">
        <div class="col col-3quarters">
            <div class="form-group no-bottom border">
                <div data-region="columnWrapper"></div>
                <div class="help-block" data-bind="model" data-validate="columns" style=""></div>
            </div>
        </div>
    </div>
    <div class="page-section">
        <div class="actions">
			{{#unless activated}}
                <button type="submit" class="btn btn-primary" data-auto-disable>
					{{#if isNew}}
						{{i18n.create}}
					{{else}}
						{{i18n.save}}
					{{/if}}
                </button>
				{{#unless isNew}}
                    <button type="button" class="btn btn-default" data-click="activate">{{i18n.activate}}</button>
				{{/unless}}
                <a href="/templates" class="btn btn-link">{{i18n.cancel}}</a>
			{{else}}
                <button type="button" class="btn btn-primary" data-click="delete">{{i18n.delete}}</button>
			{{/unless}}
        </div>
    </div>
</form>
