<div class="page page-block">
    <header>{{i18n.inviteConfirmation}}</header>
    <section>
        <h4>{{i18n.congratulations}}!</h4>

        <p>
            Вы подтвердили приглашение от {{company.owner.firstName}} {{company.owner.lastName}} теперь вы стали
            сотрудником компании под названием "{{company.name}}". Для в хода в систему перейдите
            по <a href="/login">этой ссылке</a>
        </p>
    </section>
</div>
