<div class="page page-block">
    <header>{{i18n.companyInvite}}</header>
    <section>
        <div class="warning" data-validation="generic" data-hide></div>
        <form data-submit="confirm">
            <p>{{company.owner.firstName}} {{i18n.companyInviteGreetings}} <strong>{{company.name}}</strong>.</p>
            <p>{{i18n.stepsToCompleteRegistration}}</p>
            <div class="form-group">
                <label for="password">{{i18n.password}}</label>
                <input type="password" id="password" name="password" class="form-control"
                       placeholder="{{i18n.enterPassword}}" title="{{i18n.enterPassword}}" autofocus data-bind/>
                <span class="help-block" data-validation="password" data-hide></span>
            </div>
            <div class="form-group">
                <label for="confirmPassword">{{i18n.confirmPassword}}</label>
                <input type="password" id="confirmPassword" name="confirmPassword" class="form-control"
                       placeholder="{{i18n.confirmPassword}}" title="{{i18n.confirmPassword}}" data-bind/>
                <span class="help-block" data-validation="confirmPassword" data-hide></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success center-block" data-disable-on-sync>{{i18n.confirm}}</button>
            </div>
        </form>
    </section>
</div>

