<div class="logo">
    <a href="/page/company/">{{company.name}}</a>
</div>
{{#unless isCashier}}
    <nav class="navigation pull-left">
        <ul>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"
                   data-catch-url="/(warehouses*)|(stores*)|(employees*)">{{i18n.myCompany}}<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/employees">{{i18n.employees}}</a></li>
                    <li><a href="/stores">{{i18n.retailStoreList}}</a></li>
                    <li><a href="/cashboxes">{{i18n.cashBoxes}}</a></li>
                    <li><a href="/warehouses">{{i18n.warehousesList}}</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"
                   data-catch-url="/(orders/supplier*)|(invoice/supplier*)">{{i18n.purchase}}<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/orders/supplier">{{i18n.ordersToSupplier}}</a></li>
                    <li><a href="/invoice/supplier">{{i18n.invoiceOfSupplier}}</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"
                   data-catch-url="/(pricelists.*)|(templates.*)">{{i18n.retail}}<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/pricelists">{{i18n.priceLists}}</a></li>
                    <li><a href="/templates">{{i18n.priceListTemplates}}</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"
                   data-catch-url="/(goods/receipt.*)">{{i18n.warehouse}}<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/goods/receipt">{{i18n.goodsReceipt}}</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"
                   data-catch-url="/(uom)|(currency)|(nomenclature*)|(groups)|(counterparty*)">{{i18n.rbi}}<span
                        class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/uom">{{i18n.unitOfMeasurements}}</a></li>
                    <li><a href="/currency">{{i18n.currencies}}</a></li>
                    <li><a href="/nomenclature">{{i18n.nomenclature}}</a></li>
                    <li><a href="/groups">{{i18n.productGroups}}</a></li>
                    <li><a href="/counterparty">{{i18n.counterpartiesList}}</a></li>
                </ul>
            </li>
        </ul>
    </nav>
{{/unless}}
<nav class="navigation pull-right">
    <ul>
        <li class="dropdown pull-right">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding: 15px 0">
                <span data-id="userName"></span><img src="{{avatarSrc}}" class="profile-image"/>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#" data-click="openBrand">{{i18n.companies}}</a></li>
                <li class="divider"></li>
                <li><a href="/settings/profile">{{i18n.settings}}</a></li>
                <li><a href="#" data-click="logout">{{i18n.exit}}</a></li>
            </ul>
        </li>
    </ul>
</nav>

