<div class="page-title">
    <div class="title">
		{{#if isNew}}
			{{i18n.createCounterparty}}
		{{else}}
			{{i18n.editCounterparty}}
		{{/if}}
    </div>
    <a href="/counterparty" class="link-back">{{i18n.counterparties}}</a>
</div>
<form data-submit="submit">
    <div class="page-section">
        <div class="col col-3quarters">
            <div class="form-group">
                <label for="name" class="required">{{i18n.name}}</label>

                <div class="group">
                    <input type="text" id="name" name="name" class="form-control half" data-bind data-focus/>

                    <div class="help-block" data-validate="name" data-bind></div>
                </div>
            </div>
            <div class="form-group">
                <label for="name">{{i18n.code}}</label>

                <div class="group">
                    <input type="text" id="code" name="code" class="form-control half" data-bind/>
                </div>
            </div>
            <div class="form-group">
                <label for="phone">{{i18n.phone}}</label>

                <div class="group">
                    <input type="text" id="phone" name="phone" class="form-control half" data-bind/>
                </div>
            </div>
            <div class="form-group">
                <label for="fax">{{i18n.fax}}</label>

                <div class="group">
                    <input type="text" id="fax" name="fax" class="form-control half" data-bind/>
                </div>
            </div>
            <div class="form-group">
                <label for="email">{{i18n.email}}</label>

                <div class="group">
                    <input type="text" id="email" name="email" class="form-control half" data-bind/>
                </div>
            </div>
            <div class="form-group">
                <label for="fax">{{i18n.actualAddress}}</label>

                <div class="group">
                    <input type="text" id="actualAddress" name="actualAddress" class="form-control half" data-bind/>
                </div>
            </div>
            <div class="form-group no-bottom border">
                <label for="description">{{i18n.description}}</label>

                <div class="group">
                    <textarea id="description" name="description" rows="5" class="form-control"
                              data-optional="{{i18n.add}}" data-bind></textarea>
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="clearfix">
                <button type="submit" class="btn btn-primary" data-auto-disable>
					{{#if isNew}}
						{{i18n.create}}
					{{else}}
						{{i18n.save}}
					{{/if}}
                </button>
                <a href="/counterparty" class="btn btn-link" data-catch-url>{{i18n.cancel}}</a>
            </div>
        </div>
    </div>
</form>

