<div class="page-title">
    <div class="title">
        <div>
			{{#if isNew}}
				{{i18n.storeCreation}}
			{{else}}
				{{i18n.storeEditing}}
                <div class="actions">
                    <a href="/stores/{{id}}/cashbox" data-toggle="tooltip" data-placement="top"
                       title="{{i18n.cashBoxes}}">
                        <span class="fa fa-inbox"></span>
                    </a>
                </div>
			{{/if}}
        </div>
        <a href="/stores" class="link-back">{{i18n.stores}}</a>
    </div>
</div>
<form data-submit="submit" class="page-section">
    <div class="col col-3quarters">
        <div class="form-group">
            <label for="name" class="required">{{i18n.name}}</label>

            <div class="group">
                <input type="text" id="name" name="name" class="form-control three-fourth" data-bind data-focus/>

                <div class="help-block" data-validation="name"></div>
            </div>
        </div>
        <div class="form-group">
            <label for="manager" class="required">{{i18n.manager}}</label>

            <div class="group">
                <input type="hidden" id="manager" name="manager" class="form-control half" data-id="managerSelect"
                       data-placeholder="{{i18n.selectEmployee}}" data-bind/>

                <div class="help-block" data-validation="manager"></div>
            </div>
        </div>
        <div class="form-group">
            <label for="priceList" class="required">{{i18n.priceList}}</label>

            <div class="group">
                <input type="hidden" id="priceList" name="priceList" class="form-control half" data-id="priceListSelect"
                       data-placeholder="{{i18n.selectPriceList}}" data-bind/>

                <div class="help-block" data-validation="priceList"></div>
            </div>
        </div>
        <div class="form-group">
            <label for="warehouse">{{i18n.warehouse}}</label>

            <div class="group">
                <input type="hidden" id="warehouse" name="warehouse" class="form-control half" data-id="warehouseSelect"
                       data-placeholder="{{i18n.selectWarehouse}}" data-bind/>

                <div class="help-block" data-validation="warehouse"></div>
            </div>
        </div>
        <div class="form-group">
            <label for="address">{{i18n.address}}</label>

            <div class="group">
                <input type="text" id="address" name="address" class="form-control three-fourth" data-bind/>

                <div class="help-block" data-validation="address"></div>
            </div>
        </div>
        <div class="form-group no-bottom border">
            <label for="description">{{i18n.description}}</label>

            <div class="group">
                <textarea id="description" name="description" rows="5" class="form-control" data-bind></textarea>
            </div>
        </div>
        <div data-region="inviteeList"></div>
    </div>
    <div class="actions">
        <div class="clearfix">
            <button type="submit" class="btn btn-primary" data-auto-disable>
				{{#if isNew}}
					{{i18n.create}}
				{{else}}
					{{i18n.save}}
				{{/if}}
            </button>
            <a href="{{url}}" class="btn btn-link">{{i18n.cancel}}</a>
        </div>
    </div>
</form>
