<div class="box">
    <div class="box-title">{{i18n.forgotPassword}}</div>
    <div class="alert alert-warning" data-validate="generic" data-bind data-hide></div>
    <form data-submit="sendEmail">
        <div class="form-group input-group-lg">
            <label for="email">{{i18n.email}}</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="{{i18n.emailAddress}}"
                   title="{{i18n.emailAddress}}" data-focus data-bind/>
        </div>
        <div class="form-group submit-group">
            <button type="submit" class="btn btn-primary btn-lg" data-auto-disable>{{i18n.send}}</button>
        </div>
    </form>
</div>
<div class="footer">
    <a href="/login">{{i18n.iRememberedPassword}}!</a>
</div>
